<div id="orderlist">
	<div class="container">
		<div class="ordercollection">
			<a ng-repeat="data in orderlist" ui-sref="orderdetail({Id:data.id})">
				<div class="media">
					<div class="media-top">
						<div class="row">
							<div class="col-xs-6 pr"><div ng-if="data.hot" class="arrowasideright">热</div><div class="servename">{{data.type}}</div></div>
							<div ng-class="{true: 'ash', false: ''}[data.ispay]" class="col-xs-6 text-right">{{data.ispay?"已":""}}支付</div>
						</div>
					</div>
				  	<div class="media-body">
					    <p>{{data.title}}</p>
					    <div class="pirce">
					    	<div class="p-l fl">总价：<span class="fred">￥{{data.price}}</span></div>
					    	<div class="p-r fr">数量：{{data.num}}</div>
					    </div>
				  	</div>
					<div class="media-right media-middle">
					    <img class="media-object" ng-src="{{data.icon}}" alt="">
				  	</div>
				</div>
			</a>
			<div class="sug">意见反馈</div>
			<backTop></backTop>	
		</div>
	</div>
</div>